.logo
    text-decoration: none
    display: flex
    align-items: center
    line-height: 120%
    font-weight: bold
    img
        margin-right: $spacing1
    @include media-breakpoint-down(desktop)
        max-width: 200px
        